<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/tipper.css')}}">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js" 
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='script/tipper.js')}}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{message}} </li>
            {% endfor%}
        </ul>
        {% endif %}
    {% endwith %}
    {%block content%}{% endblock%}
  </body>
</html>